<canvas id="canvas"></canvas>

<script src="game.js"></script>
<script src="draw.js"></script>
<script src="input.js"></script>
<script src="snake.js"></script>
<script src="food.js"></script>
<script>onload = game.main;</script>
